<div class="landing-block">
  <h2>{{title}}</h2>
  <div class="transfer">
    <form>
      {{ transfer-panel }}
    </form>
    <img src="https://bitcoin.org/img/icons/opengraph.png" width="150px">
  </div>
</div>
